footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: var(--spacing-md) 0;
    margin-top: var(--spacing-xl);

    p {
        text-align: center;
        margin: 0;
    }
}